# Visual Studio
.vs/
*.suo
*.user
*.userosscache

# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/
log/
logs/

# Local configs
appsettings.Development.json

# Publish outputs
publish/

# NuGet packages
*.nupkg
packages/

# Entity Framework (opcjonalnie)
Migrations/
