<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload ="true"
	  internalLogLevel ="Info"
	  internalLogFile ="c:\temp\internal-nlog.txt">


	<extensions>
		<add assembly="Nlog.Web.AspNetCore"/>
	</extensions>


	<targets>
		<target name="exceptions" xsi:type="File" fileName="C:\Users\48518\Documents\GitHub\nlog-all-exceptions-${shortdate}.log"
				layout ="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}"/>

		<target name="allfile" xsi:type="File" fileName="C:\Users\48518\Documents\GitHub\nlog-all-${shortdate}.log"
				layout ="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}"/>
		
		<target name="request-time" xsi:type="File" fileName="C:\Users\48518\Documents\GitHub\request-time.log"
				layout ="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="AIO_API.*" minlevel="Error" writeTo="exceptions" />
		<logger name="AIO_API.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time" />
	</rules>
</nlog>